.header__lang-link {
    width: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px; /* identical to box height, or 117% */
    text-align: right;
    text-decoration-line: none;
    color: #FFFFFF;
    transition: opacity 0.3s;
}

@media screen and (max-width: 580px) {
  .header__lang-link {
    width: 22px;
    font-size: 18px;
  }
}

.header__lang-link:hover {
  opacity: 0.8;
}