.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0 20px 0;
  background-image: url(../../../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1185px) {
  .cover__link {
    min-height: 640px;
  }
}
  
@media screen and (max-width: 940px) {
  .cover__link {
    min-height: 480px;
  }
}
  
@media screen and (max-width: 544px) {
  .cover__link {
    min-height: 200px;
  }
}

.cover__link::before {
  content: '';
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;
}

.cover__link:hover::before {
  opacity: 0.8;
}

