.places {
  margin: 0;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  padding: 0 148px 0;
  row-gap: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 1185px) {
  .places {
    padding: 0 48px 0;
    row-gap: 80px;
  }
}

@media screen and (max-width: 940px) {
  .places {
    padding: 0 24px 0;
    row-gap: 73px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    padding: 0;
    row-gap: 50px;
  }
}