.places {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 148px 0;
  gap: 80px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  justify-items: center;
}

@media screen and (max-width: 1185px) {
  .places {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 940px) {
  .places {
    padding: 0 24px 0;
    gap: 73px;
  }
}

@media screen and (max-width: 580px) {
  .places {
    padding: 0;
    gap: 50px;
  }
}