.place__image {
  max-width: 460px;
  max-height: 460px;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1185px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}
  
@media screen and (max-width: 940px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
    min-height: 0;
  }
}
  
@media screen and (max-width: 544px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }
}