.place__image {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1185px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}
  
@media screen and (max-width: 940px) {
  .place__image {
    max-width: none;
    max-height: none;
  }
}
  
@media screen and (max-width: 580px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }
}