.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style-type: none;
  width: 690px;
  height: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px; /* or 150% */
}

@media screen and (max-width: 896px) {
  .intro__list {
    width: 720px;
    height: 90px;
  }
}

@media screen and (max-width: 544px) {
  .intro__list {
    width: 288px;
    height: 90px;
    margin: 34px 0 0;
  }
}