.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 148px 0;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1185px) {
  .lead {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 940px) {
  .lead {
    padding: 0;
  }
}