.page__content {
  margin: 56px 0 92px;
}

@media screen and (max-width: 1185px) {
  .page__content {
    margin: 48px 0 92px;
  }
}

@media screen and (max-width: 940px) {
  .page__content {
    margin: 48px 0 88px;
  }
}

@media screen and (max-width: 580px) {
  .page__content {
    margin: 48px 0 64px;
  }
}