.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 1185px) {
  .photo-grid__item {
    max-width: 300px;
    max-height: 225px;
  }
}
  
@media screen and (max-width: 940px) {
  .photo-grid__item {
    max-width: 352px;
    max-height: 264px;
  }
}
  
@media screen and (max-width: 580px) {
  .photo-grid__item {
    max-width: 288px;
    max-height: 216px;
  }
}