.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 92px;
}

@media screen and (max-width: 896px) {
  .content {
    row-gap: 88px;
  }
}

@media screen and (max-width: 544px) {
  .content {
    row-gap: 64px;
  }
}