.lead__title {
  margin: 0;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px; /* or 104% */
  text-align: center;
}

@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px; /* or 110% */
  }
}