.footer__links {
  display: flex;
  gap: 18px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
    
@media screen and (max-width: 544px) {
  .footer__links {
    gap: 32px;
    flex-direction: column;
    margin-bottom: 48px;
  }
}