.intro__text {
  margin: 40px 0 0;
  width: 690px;
  height: 208px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%; /* or 26px */
}

@media screen and (max-width: 896px) {
  .intro__text {
    width: 720px;
    height: 208px;
  }
}

@media screen and (max-width: 544px) {
  .intro__text {
    width: 288px;
    height: 520px;
  }
}