.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 148px;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
  }
  
  @media screen and (max-width: 1185px) {
    .intro {
      padding-left: 48px;
    }
  }
  
  @media screen and (max-width: 940px) {
    .intro {
      padding: 0 24px 0;
    }
  }
  
  @media screen and (max-width: 580px) {
    .intro {
      align-items: center;
      padding: 0 16px 0;
    }
  }