.lead__subtitle {
  margin: 32px 0 0;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px; /* or 120% */
  text-align: center;
}

@media screen and (max-width: 1185px) {
  .lead__subtitle {
    max-width: 640px;
  }
}

@media screen and (max-width: 580px) {
  .lead__subtitle {
    margin: 16px 0 0;
    width: 288px;
    font-size: 16px;
    line-height: 20px; /* or 125% */
  }
}