.cover {
  box-sizing: border-box;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1185px) {
  .cover {
    padding: 0;
  }
}
