.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr 460px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 40px 48px;
}

@media screen and (max-width: 1152px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: 1fr 440px;
    gap: 32px 48px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: 1fr 1fr;
    gap: 28px 48px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 46px 320px 1fr;
    gap: 50px;
  }
}