.place__website {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: flex-end;
}

@media screen and (max-width: 580px) {
  .place__website {
    padding-left: 16px;
    justify-self: left;
  }
}