.intro__title {
  margin: 0;
  width: 690px;
  height: 58px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px; /* identical to box height, or 107% */
}

@media screen and (max-width: 940px) {
  .intro__title {
    width: 720px;
    height: 58px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px; /* identical to box height, or 107% */
  }
}

@media screen and (max-width: 544px) {
  .intro__title {
    width: 288px;
    height: 70px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px; /* or 109% */
  }
}